<footer class="footer">
    <div class="container-fluid">
      <div class="copyright float-right">
        Made with <i class="material-icons">favorite</i> by
        <a href="https://www.facebook.com/shashwatjolly" target="_blank">Shashwat</a> and
        <a href="https://www.facebook.com/shaurya.gomber.9" target="_blank">Shaurya</a>
      </div>
    </div>
  </footer>