<div class="loading">
  <div class="row loading" style="margin-bottom: 30px">
    <div style="margin: 0 auto">
      <img style="width: 200px; height: 200px; margin: 0 auto;" src="/assets/img/logo.png"/>
    </div>
  </div>
  <div class="row loading">
    <div style="margin: 0 auto">
      <h1 style="text-align: center;" class="loadingmsg">Loading...</h1>
    </div>
  </div>
</div>